

  .css-oaly96-MuiSwitch-root{
    height:0!important
  }
//   .css-oaly96-MuiSwitch-root{
//     height:45px!important;
//     width: 30px!important;
//   }

  .css-jsexje-MuiSwitch-thumb{
    height:25px!important;
    width: 25px!important;
  }
  .css-10w0f7s-MuiSwitch-root{
    height:54px!important;
    width: 80px!important;
  }
  .css-1yjjitx-MuiSwitch-track {
    width: 80%!important;
    border-radius: 10px!important;
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase{
    bottom:0%!important;
}